footer {
	background: $base;
	.FooterContent{
		display: flex;
		align-items: center;
		justify-content: space-between;		
	}
	p{
		margin-bottom: 0;
		font-weight: 600;
		color: $white;
		text-transform: uppercase;
		letter-spacing: 1px;
		a{
			text-decoration: none;
			color: $white;
			text-transform: lowercase;
		}
	}
}