header{

	.TopHeader{
		background-color: $base;
		padding: 8px 0;
		width: 100%;
		.LeftRightLinks{
			display: flex;
			align-items: center;
			justify-content: space-between;
			p{
				margin-bottom: 0;
				color: $white;
				letter-spacing: 2px;
				font-weight: 700;
				@media (max-width: 767px){
					font-size: 7px;
				}
				a{
					color: $yellow;
					transition: 0.2s all;
					&:hover{
						color: $white;
					}
				}
			}
			a{
				text-decoration: none;
				font-size: 1.4rem;
				letter-spacing: 2px;
				font-weight: 700;
				color: $white;
				transition: 0.2s all;
				@media (max-width: 767px){
					font-size: 7px;
				}
				&:hover{
					color: $yellow;
				}
			}
		}
	}

	.MobileMenu{
		.InsideMobileMenu{
			display: flex;
			align-items: center;
			width: 100%;
			justify-content: space-between;
			.LogoBox{
				img{
					@media (max-width: 767px){
						max-width: 40%;
					}
				}
			}
		}
	}

	.overlay {
	    background: rgba(0,0,0,0.3);
	    position: fixed;
	    z-index: 999;
	    top: 0;
	    left:0;
	    right: 0;
	    bottom:0;
	    transition: all .4s ease;
	    display: none;
	    cursor: pointer;
	}
	.noScroll {
		overflow: hidden;
	}

	.GridsBlock{
		display: flex;
		align-items: center;
		width: 100%;
		.ContactDetails{
			a{
				text-decoration: none;
				color: $black;
				font-size: 14px;
			}
		}
		.LogoBox{
			position: relative;
			z-index: 999;
			&:before{
				content: "";
				position: absolute;
				background-color: $white;
				width: 10px;
				height: 2px;
				left: 27px;
				bottom: 33px;
			}
			&:after{
				content: "";
				position: absolute;
				background-color: $white;
				width: 10px;
				height: 2px;
				right: 16.9rem;
				bottom: 33px;
			}
			a{
				img{
					position: relative;
					z-index: 9;
				}
			}
		}
	}

	.NavContainer {
		border-top: thin solid $lightBlack;
		border-bottom: thin solid $lightBlack;
		width: 100%;
	    &.Active_Nav {
	        nav {
	            transform: translateX(0);
	            z-index: 999;
	        }
	        .MenuOverlay {
	            visibility: visible;
	            opacity: 1;
	            z-index: 990;
	            .CloseMenuIcon {
	                transform: translateY(0);
	                opacity: 1;
	            }
	        }
	    }
	    nav {
	        height: 100%;
	        margin: 0 auto;
	        @media(max-width: 991px) {
	            position: fixed;
	            width: 375px;
	            height: 100vh;
	            overflow-y: scroll;
	            right: 0;
	            top: 0;
	            background-color: $base;
	            @include Ease(0.25s);
	            transform: translateX(200%);
	        }
	        @media(max-width: 500px) {
	            width: 75vw;
	        }
	        >ul {
	            height: 100%;
	            display: flex;
	            margin: 0 auto;
	            justify-content: center;
	            padding: 0;
	            @media(max-width: 991px) {
	                display: block;
	                padding-left: 0;
	                padding-top: 20px;
	            }
	            >li {
	                padding: 20px 45px;
	                position: relative;
	                display: flex;
	                align-items: center;
	                @media(max-width: 991px) {
	                    padding: 0px;
	                    flex-direction: column;
	                    align-items: unset;
	                }
	                >a {
	                    text-decoration: none;
	                    color: $black;
	                    font-size: 1.4rem;
	                    @media(max-width: 991px) {
	                        padding: 15px 25px;
	                        width: calc(100% - 50px);
	                    }
	                    &:hover {
	                        color: $base;
	                    }
	                }
	            }
	        }
	        .MenuButton {
	            @media(max-width: 991px) {
	                padding-left: 25px;
	                padding-top: 15px;
	            }
	            a {
	                color: $black;
	                padding: 8px 18px;
	                border-radius: 50px;
	                font-size: 1.4rem;
	                @include Ease(0.25s);
	                @media(max-width: 991px) {
	                    color: $white;
	                    width: 155px;
	                }
	                &:hover {
	                    background-color: $base;
	                    color: $white;
	                }
	            }
	        }
	    }
	}

}

.show-menu{
	overflow-y: hidden;
	.content-wrap{
		background-color: rgba($black, 0.4);
		width: 100%;
		height: 100vh;
		z-index: 9999;
	}
}

.content-wrap {
	position: absolute;
	top: 0;
	.icon-list{
		a{
			padding: 0;
			font-size: 0.8em;
			text-decoration: none;
			img{
				max-width: 70%;
				transition: 0.2s all;
			}
		}
		ul{
			padding: 0;
			list-style: none;
			margin: 0;
			li{
				a{
					text-decoration: none;
					padding : 0.5rem 0;
					font-size: 1em;
				}
			}
		}
	}
}

.MobileContactDetails{
	margin: 1.5rem 0;
	line-height: 1.8;
}


ul.SocialIcons{
    display: flex;
    margin: 1rem 0 0;
    padding: 0;
    justify-content: flex-end;
    @media (max-width: 767px){
    	justify-content: flex-start;
    }
    li{
      margin: 0 5px;
      margin-bottom: 0;
      font-size: 16px !important;
      font-weight: 600;
      color: $black;
      list-style: none;
      a{
        color: $black;
        display: flex;
        padding: 6px;
        align-items: center;
        justify-content: center;
        border: thin solid $black;
        border-radius: 50px;
        transition: 0.2s ease-in-out;
        svg{
          width: 15px;
          height: 15px;
          fill: $black;
          transition: 0.2s ease-in-out;
          @media (max-width: 767px){
          	width: 25px;
          }
        }
        &:hover{
          border-color: $base;
          svg{
            fill: $base;
          }
        }
      }
    }
    @media(min-width: 480px){
      display: flex;
    }
    @media(min-width: 768px){
      display: flex;
    }
    @media(min-width: 1024px){
      display: flex;
    }
    @media(min-width: 1300px){
      display: flex;
    }
}

.MenuContainer{
	margin-top: -3.5rem;
}

	/*.MobileNavController {
	    @media(min-width: 992px) {
	        display: none;
	    }
	}

	.MenuOverlay {
	    background-color: rgba(51, 51, 51, 0.77);
	    position: fixed;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	    // display: none;
	    visibility: hidden;
	    opacity: 0;
	    z-index: -1;
	    @include Ease(0.35s);
	    .CloseMenuIcon {
	        width: 50px;
	        height: 50px;
	        display: flex;
	        align-items: center;
	        justify-content: center;
	        color: $white;
	        cursor: pointer;
	        position: absolute;
	        transform: translateY(-20%);
	        opacity: 0;
	        @include Ease(0.4);
	        @media(max-width: 991px) {
	            right: 400px;
	        }
	        @media(max-width: 500px) {
	            right: 78vw;
	        }
	        >span {
	            font-size: 45px;
	            line-height: 0;
	        }
	    }
	}

	.MenuBar {
	    width: 25px;
	    height: 12px;
	    position: absolute;
	    top: 50%;
	    right: 15px;
	    transform: translateY(-50%);
	    >div {}
	    span {
	        width: 100%;
	        height: 2px;
	        background-color: $base;
	        display: inline-block;
	        position: absolute;
	        top: 0;
	        transform: translateY(-50%);
	        &:nth-child(2) {
	            top: 50%;
	            width: 50%;
	            right: 0;
	        }
	        &:last-child {
	            top: 100%;
	            width: 75%;
	            right: 0;
	        }
	    }
	}*/
