
.LinkWithBorder{
	position: relative;
	width: 100%;
	display: block;
	&:after{
		content: "";
		position: absolute;
		width: 200px;
		height: 1px;
		right: 0;
		top: 50%;
		background-color: $lightBlack;
		@media (max-width: 767px){
			width: 140px;
		}
	}
	a{
		font-family: $scriptFont;
		font-size: 3rem;
		text-decoration: none;
		color: $lightBlack;
	}
}