.CenteredContentWithBg{
	background-color: $darkMaroon;
	position: relative;
	&:before{
		content: "";
		position: absolute;
		background: url(../img/star.png) repeat;
		width: 215px;
		height: 34px;
		margin: 0 auto;
		left: 0;
		right: 0;
		top: -20px;
	}
	h6{
		text-align: center;
		color: $white;
		letter-spacing: 2px;
		font-weight: 700;
		margin-bottom: 1rem;
	}
	p{
		text-align: center;
		color: $white;
		letter-spacing: 2px;
		margin-bottom: 0;
	}
}