.FullImageWithHeading{
	padding-top: 5rem;
	z-index: 9;
    position: relative;
	h1{
		color: $darkGrey;
		margin-top: 0;
		text-align: center;
	}
	img{
		margin-top: 5rem;
		display: block;
	}
	.HeadingLine{
		position: relative;
		width: 100%;
		height: 1px;
		background-color: $lightBlack;
		margin: 5rem 0 2rem;
		z-index: 9;
		h5{
			position: absolute;
			left: 0;
			font-size: 3rem;
			font-family: $scriptFont;
			right: 0;
			margin: 0 auto;
			background-color: $lightyellow;
			padding: 10px;
			margin-bottom: 0;
			display: inline-table;
			top: -25px;
			transform: translateX(75%);
			@media (max-width: 767px){
				transform: translateX(5%);
				font-size: 2.5rem;
			}
		}
	}
}