.ExploreTopicBlock{
	h2{
		text-align: center;
		color: $lightGrey;
		line-height: 1.1;
		br{
			display: block;
			@media (max-width: 767px){
				display: none;
			}
		}
	}
	h6{
		text-align: center;
		font-size: 1.6rem;
		font-weight: 600;
		color: $darkGrey;
		letter-spacing: 2px;
		margin-top: 1.5rem;
		margin-bottom: 2rem;
	}
	.col-6{
		margin-top: 2rem;
		.CardWithHoverText{
			position: relative;
			img{
				width: 100%;
				display: block;
			}
			h6{
				position: absolute;
				top: 50%;
				left: 0;
				right: 0;
				margin: 0 auto;
				color: $white;
				z-index: 9;
				padding: 0 3rem;
				@media (max-width: 767px){
					font-size: 1.2rem;
					padding: 0 2rem;
				}
			}
		}
		&:nth-child(odd){
			.CardWithHoverText{
				&:before{
					content: "";
					position: absolute;
					width: 100%;
					height: 100%;
					top: 0;
					background-color: rgba($base, 0.7);
				}
			}			
		}
		&:nth-child(even){
			.CardWithHoverText{
				&:before{
					content: "";
					position: absolute;
					width: 100%;
					height: 100%;
					top: 0;
					background-color: rgba($black, 0.7);
				}
			}
		}
	}
}