.FollowMeInsta{
	.YoutubeThumbnailBlock{
		.BottomContent{
			padding: 0 10px;
			line-height: 0.9;
			p{
				line-height: 1.8;
				margin-bottom: 1rem;
				padding-bottom: 1rem;
				border-bottom: thin solid rgba($offBlack, 0.2);
				margin-top: 1rem;
			}		
			.HashTag{
				font-size: 1rem;
				color: #848484;
			}	
		}
	}
}