.FollowOnYoutube{
	h2{
		font-family: $scriptFont;;
		text-align: center;
		color: $lightGrey;
	}
	h5{
		text-align: center;
		color: $darkGrey;
		font-size: 1.6rem;
		font-weight: 700;
		letter-spacing: 2px;
	}
	a{
		text-decoration: none;
		margin-top: 3rem;
    	display: block;
		.YoutubeThumbnailBlock{	
			position: relative;
			.playBtn{
				position: absolute;
				bottom: 50px;
				right: 10px;
				@media (max-width: 767px){
					bottom: 65px;
				}
			}		
			h6{
				font-size: 1.4rem;
				color: $darkGrey;
				font-weight: 700;
			}
			p{
				margin-bottom: 0;
				color: $offBlack;
				font-size: 1.3rem;
			}
		}
	}
}

/* overlay at start */
.mfp-fade.mfp-bg {
  opacity: 0;

  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}
/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;

  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}

.PaddingBottom{
	padding-bottom: 13rem;
	@media (max-width: 767px){
		padding-bottom: 7rem;
	}
	.SocialMediaBlock{
		border-bottom: none !important;
	}
}