.gallerySection {
    .grid-container{
     display: grid;
     grid-gap: 1em 1em;
     grid-template-columns: auto auto auto auto;
     .grid-item {
      img {
        width: 100%;
        height: 100%;
      }
     }
     .grid-odd-item {
        grid-row: span 3;
     }
     .grid-even-item {
        grid-row: span 2;
     }
  }
}