.ContactUsSection{
	.LeftContentBlock{
		h2{
			margin-bottom: 0
		}
		h6{
			margin-top: 2.5rem;
			font-size: 1.6rem;
			color: $darkGrey;
			letter-spacing: 2px;
			font-weight: 600;
		}
		p{
			line-height: 1.7;
			font-size: 1.6rem;
			color: $Grey;
			margin-bottom: 0;
			margin-top: 1rem;
		}
		form{
			label{
				width: 100%;
				margin-top: 2.5rem;
				margin-bottom: 0.6rem;
				display: block;
			}
			input[type="text"],input[type="tel"],input[type="email"]{
				width: 100%;
				border: thin solid rgba($black, 0.2);
				padding: 15px 10px;
			}
			textarea{
				width: 100%;
				border: thin solid rgba($black, 0.3);
				padding: 15px 10px;
			}
			input[type="button"]{
				background: transparent linear-gradient(180deg, #FCCB47 0%, #BF7D24 100%) 0% 0% no-repeat padding-box;
				box-shadow: 0px 3px 12px #00000029;
				border-radius: 4px;
				border: thin solid #FCCB47;
				padding: 15px 0;
				width: 100%;
				margin-top: 2.5rem;
				cursor: pointer;
				text-transform: uppercase;
				letter-spacing: 2px;
				font-weight: 600;
				font-size: 14px;
				color: $white;
				transition: 0.5s all;
				&:hover{
					background: transparent linear-gradient(180deg, $base 0%, $offOrange 100%) 0% 0% no-repeat padding-box;
				}
			}
		}
	}	
}