.LeftImageRightContentWithBorder{
	padding-bottom: 5rem;
	.LeftImgBlock{
		position: relative;
		img{
			position: relative;
			z-index: 9;
		}
		&:before{
			content: "";
			position: absolute;
			width: 460px;
			height: 560px;
			background: $lightyellow 0% 0% no-repeat padding-box;
			left: 20px;
			top: 20px;
			@media (max-width: 767px){
				width: 100%;
				height: 100%;
				left: 0;
				top: -20px;
			}
		}
		&:after{
			content: "";
			position: absolute;
			width: 460px;
			height: 560px;
			background: $white 0% 0% no-repeat padding-box;
			border: thin solid $lightyellow;
			right: 20px;
			bottom: 25px;
			@media (max-width: 767px){
				width: 100%;
				height: 100%;
				right: -15px;
				bottom: 0;
				display: none;
			}
		}
	}
	.RightContentBlock{
		display: flex;
	    align-items: flex-start;
	    justify-content: center;
	    flex-direction: column;
	    height: 100%;
	    padding-right: 4rem;
	    padding-left: 4rem;
	    position: relative;
	    @media (max-width: 767px){
	    	padding-left: 0;
	    	padding-right: 0;
	    }
	    &:before{
	    	content: '"';
	    	position: absolute;
	    	font-family: $scriptFont;
	    	font-size: 40rem;
	    	width: 100px;
	    	height: 80px;
	    	color: #F7F0F0;
	    	left: -15px;
	    	top: -30px;
	    	z-index: -1;
	    }
		h1{
			margin-top: 0;
			font-family: $scriptFont;
			color: $lightBlack;
		}
		h5{
			font-size: 1.6rem;
			font-weight: 600;
			color: $offGrey;
			letter-spacing: 2px;
			line-height: 1.2;
			span{
				font-size: 1.5rem;
			}
		}
		.InsideContent{
			padding: 2rem 0;
			border-top: thin solid $lightBlack;
			margin-top: 2rem;
			p{
				margin-bottom: 1.5rem;
				padding-right: 3rem;
				color: $Grey;
				line-height: 1.8;
			}
		}
	}
}

.LeftImageRightContent{
	position: relative;
	&:before{
		content: '';
		position: absolute;
		width: 100%;
		height: 125%;
		top: -25%;
		left: 0;
		right: 0;
		margin: 0 auto;
		background-color: $lightyellow;
	}
	.RightContentBlock{
		display: flex;
		align-items: flex-start;
		justify-content: center;
		flex-direction: column;
		height: 100%;
		margin-top: 0rem;
		@media (max-width: 767px){
			margin-top: 1rem;
		}
		h5{
			font-size: 1.6rem;
			letter-spacing: 2px;
			text-transform: uppercase;
			color: $darkGrey;
			font-weight: 600;
			margin-bottom: 1.5rem;
		}
		p{
			color: $Grey;
			line-height: 1.8;
			margin-bottom: 0;
		}
	}
}