.RightImageLeftContentWithBg{
	background-color: $maroon;
	padding-bottom: 3rem;
	.LeftContentBlock{
		display: flex;
	    align-items: flex-start;
	    justify-content: center;
	    flex-direction: column;
	    height: 100%;
	    padding-right: 9rem;
	    padding-left: 0;
	    position: relative;
	    @media (max-width: 767px){
			padding-right: 0;
		}
	    h2{
	    	font-weight: bold;
	    	color: $white;
	    	font-family: $primaryFont;
	    }
	    h6{
	    	font-size: 1.6rem;
	    	color: $yellow;
	    	font-weight: bold;
	    	letter-spacing: 2px;
	    	margin-bottom: 2rem;
	    }
	    p{
			margin-bottom: 1.5rem;
			padding-right: 3rem;
			color: $white;
			line-height: 1.8;
			@media (max-width: 767px){
				padding-right: 0;
			}
		}
		.LinkWithBorder{
			a{
				color: $white;
			}
			&:after{
				background-color: $white;
			}
		}
	}
	.RightImageBlock{
		margin-top: -14rem;
		@media (max-width: 767px){
			margin-top: -6rem;
		}
	}
}