.SocialMediaLinks{
	.SocialMediaBlock{
		border-top: thin solid $lightBlack;
		border-bottom: thin solid $lightBlack;	
		h2{
			font-family: $scriptFont;
			text-align: center;
			color: $lightBlack;
		}	
		p{
			color: $darkGrey;
			text-align: center;
			font-weight: 600;
			font-size: 1.6rem;
			letter-spacing: 2px;
		}
		ul{
			padding: 0;
			list-style: none;
			margin: 4rem 0 0;
			display: flex;
			align-items: center;
			justify-content: center;
			@media (max-width: 767px){
				margin: 2rem 0 0;
			}
			li{
				margin: 0 10px;
				@media (max-width: 767px){
					margin: 0 8px;
				}
				a{
					display: flex;
					align-items: center;
					justify-content: center;
					text-decoration: none;
					box-shadow: 0px 3px 6px #00000029;
					.SocialIcon{
						height: 35px;
						background-color: $white;
						padding: 5px;
						width: 45px;
    					text-align: center;
    					@media (max-width: 767px){
    						height: 28px;
    						width: 32px;
    					}
						img{
							height: 25px;
							@media (max-width: 767px){
								height: 18px;
							}
						}
					}
					.SocialText{
						padding: 7px;
						width: 130px;
						color: $white;
						font-weight: 600;
						letter-spacing: 1px;
						text-align: center;
						font-size: 14px;
						text-transform: uppercase;
						transition: 0.3s all;
						@media (max-width: 767px){
							width: 90px;
							font-size: 10px;
						}
					}
				}
				&:first-child{
					a{
						.SocialText{
							background-color: $red;
						}
						&:hover{
							.SocialText{
								background-color: $base;
							}
						}
					}
				}
				&:nth-child(2){
					a{
						.SocialText{
							background-color: $pink;
						}
						&:hover{
							.SocialText{
								background-color: $base;
							}
						}
					}
				}
				&:last-child{
					a{
						.SocialText{
							background-color: $blue;
						}
						&:hover{
							.SocialText{
								background-color: $base;
							}
						}
					}
				}
			}
		}
	}
}