$base : #461212;
$black: #000;
$white: #fff;
$lightBlack: #030303;
$Grey: #292929;
$maroon: #91282E;
$darkMaroon: #881E1E;
$lightGrey: #747474;
$darkGrey: #434343;
$offBlack: #222222;
$offOrange: #FA7272;
$offGrey: #525252;
$lightyellow: #FAF0E0;
$yellow: #FCCB47;
$red: #FF0000;
$pink: #C837AB;
$blue: #4267B2;

$scriptFontBold: caflisch-script-bold, sans-serif;
$scriptFont: caflisch-script-pro, sans-serif;
$primaryFont: 'Montserrat', sans-serif;
$secondaryFont: 'Lato', serif;
